/* Adding a gradient background. */
body {
  background-color: rgb(240, 240, 240);
}

/* Button formatting. */
.btn {
    background-color: rgb(141, 156, 179);
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    font-size: 18px;
    margin-left: 400px;
    position: absolute;
    font-family: "Times New Roman";
}

/* Formatting the table and its contents. */
table {
  border: 2px solid black;
  background-color: white;
}

th {
  front-size: 25px;
}

tr {
  border: 2px dashed black;
}

td {
  font-size: 20px;
}
