/* Setting background color.
body {
  background: linear-gradient(black, white, black);
  background-color: white;
  height: 100%;
  width: 100%;
}
*/

body{
  font-color: black;
}


/* Setting the background of all the references I have.*/
.secondReference {
  background-image: url(images/DuPageFoundation_Logo.png); 
  background-repeat: no-repeat;
  height: 100%;
}

.thirdReference {
  background-image: url(images/MAC-Building-Entrance.jpeg);
  background-repeat: no-repeat;
  width: 100%;
  opacity: 0.6;
}

.fourthReference {
  background-image: url(images/GlenbardWest.jpg);
  background-repeat: no-repeat;
  width: 100%;
  opacity: 0.6;
}

/* Adding the hover feature to the text. */
h4:hover {
  font-size: 26px;
}

p:hover {
  font-size: 15px;
}

.contact:hover {
  font-size: 20px;
}
