/* setting up the background cover so it looks good */
body {
    background-image: url('images/paper-background.jpg');
    height: 100%;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 { 
    text-align: left;
    margin-left: 20%;
}

p {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    left-margin: 10%;
}


/* Editing the table where the resumes are. */
table {
border-spacing: 20px;
}

th {
font-size: 25px;
}

.header1 {
    color: rgb(119, 167, 236);
}

.header2 {
    padding-left: 5px;
    color: rgb(50, 91, 146)
}


/* Formatting the resumes images. */
.resumeImage1 {
    height: 600px;
    width: 450px;
    margin-left: 25%;
    border: 8px solid rgb(119, 167, 236);
}
  
.resumeImage1:hover {
    height: 800px;
    width: 650px;
}

.resumeImage2 {
    height: 600px;
    width: 450px;
    margin-left: 35%;
    border: 8px solid rgb(50, 91, 146);
}

.resumeImage2:hover {
    height: 800px;
    width: 650px;
}

