/* setting up the background cover so it looks good */
body {
    background-image: url('images/paper-background.jpg');
    height: 100%;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 { 
    text-align: left;
    margin-left: 30%;
}

/* Editing the table where the resumes are. */
table {
border-spacing: 30px;
}

/* Formatting the resumes and div. */
.resumePart {
    height: 25%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.resumeImage1 {
    height: 500px;
    width: 350px;
    margin-left: 25%;
}
    
.resumeImage2 {
    height: 500px;
    width: 350px;
    margin-left: 25%;
}
   
